<!DOCTYPE html>
<title>Blogs</title>
<html lang="en">
<head>
    {% extends 'portfolio/base.html' %}
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
{% block content %}

    <h1 id="blogtitle" class="font-weight-bold text-center">Blog</h1>
    <h3 class="text-center mb-5">Timofey has written {{ blogs.count }} blog{{ blogs.count|pluralize }}</h3>


    {% for blog in page_obj %}

        <div class="row justify-content-center my-3">
          <div class="col-md-10">
            <a href="{% url 'blog:detail' blog.id %}">
              <h2>{{ blog.title }}</h2>
            </a>
            <h5 class="text-muted">{{ blog.date|date:'M d Y'|upper }}</h5>
            <h4>{{ blog.description|striptags|truncatechars:100 }}</h4>
          </div>
        </div>

    {% endfor %}

    {% if blogs %}
    <div style="margin-left: auto; margin-right: auto; width: 6em">
        <nav aria-label="Page navigation example">
          <ul class="pagination">

            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>

            {% for p in page_obj.paginator.page_range %}
                <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
            {% endfor %}

            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>

          </ul>
        </nav>
    </div>
{% endif %}

{% endblock %}
</body>
</html>
